################################################
#
# {{ ansible_managed }}
#
################################################


################
# Localisation 
################

# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string {{ debian_installer__locale }}
# d-i debian-installer/language string de
# d-i debian-installer/country string DE
d-i keyboard-configuration/xkb-keymap select de

# d-i debian-installer/locale string de_DE.UTF-8
# Optionally specify additional locales to be generated.
#d-i localechooser/supported-locales multiselect en_US.UTF-8, nl_NL.UTF-8

###########
# Timezone
###########
d-i time/zone string {{ time__zone }}
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string {{ clock_setup__ntp_server }}

################
# Networking
################
# don't promt for extra firmware for network
# but it doesn't work.
d-i ethdetect/prompt_missing_firmware boolean false
d-i hw-detect/load_media boolean false
d-i hw-detect/load_firmware boolean false

d-i netcfg/choose_interface select auto
d-i netcfg/wireless_wep string

# hostname - we have to set inside the boot append
# we wan't to set hostname during setup - so comment out here
{% if netcfg__get_hostname is defined %}
d-i netcfg/get_hostname string {{ netcfg__get_hostname }}
{% endif %}
d-i netcfg/get_domain string {{ netcfg__get_domain }}

################
# Tasksel
################

d-i mirror/suite string {{ mirror__suite }}
tasksel tasksel/first multiselect {{ tasksel__first }} 

d-i popularity-contest/participate boolean false

# Whether to upgrade packages after debootstrap.
# Allowed values: none, safe-upgrade, full-upgrade
d-i pkgsel/upgrade select safe-upgrade

#########################
# Mirror Settings
#########################

# If you select ftp, the mirror/country string does not need to be set.
#d-i mirror/protocol string http
#d-i mirror/country string DE
d-i mirror/country string manual
d-i mirror/http/hostname string {{ mirror__http__hostname }}
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string {{ mirror__http__proxy }}

####################
# Apt-Settings
####################

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/security_host string security.debian.org

# don't scan other cds (https://unix.stackexchange.com/questions/409212/preseed-directive-to-skip-another-cd-dvd-scanning)
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false   
d-i apt-setup/cdrom/set-failed boolean false

# Additional repositories, local[0-9] available
# funktioniert mit Buster noch nicht:
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=928931
# soll gefixt sein.

{% for repo in apt_setup__local_repos %}

d-i apt-setup/{{ repo }}/repository string {{ apt_setup__local_repos[repo].repository}} 
d-i apt-setup/{{ repo }}/comment string {{ apt_setup__local_repos[repo].comment }}
{% if apt_setup__local_repos[repo].key is defined %}
d-i apt-setup/{{ repo }}/key string {{ apt_setup__local_repos[repo].key }}
{% endif %}

{% endfor %}

# packages
d-i pkgsel/include string {% if pksel__include_system is defined %}{{ pksel__include_system|join(' ') }} {% endif %}
{% if pksel__include_user_default is defined %}{{ pksel__include_user_default|join(' ') }} {% endif %}
{% if pksel__include_user_extra is defined %}{{ pksel__include_user_extra|join(' ') }} {% endif %}
{% if 'xfce-desktop' in desktop_environment %}{{ pksel__include_xfce|join(' ') }} {% endif %}
{% if 'gnome-desktop' in desktop_environment %}{{ pksel__include_gnome|join(' ') }} {% endif %}
{% if 'mate-desktop' in desktop_environment %}{{ pksel__include_mate|join(' ') }} {% endif %}
{% if 'kde-desktop' in desktop_environment %}{{ pksel__include_kde|join(' ') }} {% endif %}
{% if 'cinnamon-desktop' in desktop_environment %}{{ pksel__include_cinnamon|join(' ') }} {% endif %}
{% if pksel__include_local_repos is defined %}{{ pksel__include_local_repos|join(' ') }} {% endif %}

################
# libdvd-pkg 
################

# build libdvdcss2
d-i libdvd-pkg/first-install note
d-i libdvd-pkg/post-invoke_hook-install boolean true
d-i libdvd-pkg/build boolean true

###############
#
# Beispiel-Partitionierung
#
# Richtet verschluesselten LVM mit atomic-Partitionierung ein
# ohne weitere Fragen zu stellen (Vorsicht, ueberschreibt alles ...
#
###############

### Partitioning
## Partitioning example
# If the system has free space you can choose to only partition that space.
# This is only honoured if partman-auto/method (below) is not set.
#d-i partman-auto/init_automatically_partition select biggest_free

# Alternatively, you may specify a disk to partition. If the system has only
# one disk the installer will default to using that, but otherwise the device
# name must be given in traditional, non-devfs format (so e.g. /dev/sda
# and not e.g. /dev/discs/disc0/disc).
# For example, to use the first SCSI/SATA hard disk:
#d-i partman-auto/disk string /dev/sda
# In addition, you'll need to specify the method to use.
# The presently available methods are:
# - regular: use the usual partition types for your architecture
# - lvm:     use LVM to partition the disk
# - crypto:  use LVM within an encrypted partition
d-i partman-auto/method string crypto

# If one of the disks that are going to be automatically partitioned
# contains an old LVM configuration, the user will normally receive a
# warning. This can be preseeded away...
d-i partman-lvm/device_remove_lvm boolean true
# The same applies to pre-existing software RAID array:
d-i partman-md/device_remove_md boolean true
# And the same goes for the confirmation to write the lvm partitions.
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
# new in buster:
d-i partman-auto-lvm/guided_size string max

# You can choose one of the three predefined partitioning recipes:
# - atomic: all files in one partition
# - home:   separate /home partition
# - multi:  separate /home, /var, and /tmp partitions
d-i partman-auto/choose_recipe select atomic

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# This makes partman automatically partition without confirmation.
# d-i partman-md/confirm boolean true
# d-i partman-partitioning/confirm_write_new_label boolean true
# d-i partman/choose_partition select finish
# d-i partman/confirm boolean true
# d-i partman/confirm_nooverwrite boolean true

#####################
# User
#####################

# no root login, sudo instead
d-i passwd/root-login boolean false
# To create a normal user account.
d-i passwd/user-fullname string {{ passwd__user_fullname }}
d-i passwd/username string {{ passwd__username }}
# Normal user's password, either in clear text
# d-i passwd/user-password password secret
# d-i passwd/user-password-again password secret
# or encrypted using an MD5 hash, see grub-md5-crypt(8).
d-i passwd/user-password-crypted password {{ passwd__user_password_crypted }}

#############################
# grub
#############################

d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

#############################
# postinstall
#############################

d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true

{% if dknansiblepulldeploy is defined and dknansiblepulldeploy is true %}
#############################
# ansible-pull
#############################

dknansiblepulldeploy dknansiblepulldeploy/git-url string {{ dknansiblepulldeploy__git_url }}
dknansiblepulldeploy dknansiblepulldeploy/gpg-verify boolean {{ dknansiblepulldeploy__gpg_verify }}
dknansiblepulldeploy dknansiblepulldeploy/on-repoupdate boolean {{ dknansiblepulldeploy__on_repoupdate }}
dknansiblepulldeploy dknansiblepulldeploy/accept-host-key boolean {{ dknansiblepulldeploy__accept_host_key }}
dknansiblepulldeploy dknansiblepulldeploy/vault-password string {{ dknansiblepulldeploy__vault_password }}
dknansiblepulldeploy dknansiblepulldeploy/git-branch string {{ dknansiblepulldeploy__git_branch }}

# the ssh-key - all in one line, see https://doku.datenkollektiv.net/semi-public/docu/install/workstation_deployment#preseeding
dknansiblepulldeploy dknansiblepulldeploy/deploy-key string {{ dknansiblepulldeploy__deploy_key }}
{% endif %}
